# Bienvenido al día 1 del workshop de Nuclio Digital School: Parte 2
## 14-Enero-2025

<img src="./pictures/PANDAS_DEEP_DIVE.webp" alt="PANDAS_DD" width="700" height="300"/>

# Objetivos del notebook
---
En este notebook vamos a hacer una introducción a la librería de pandas y explorar algunas de sus ***best practices***.

**[pandas](https://pandas.pydata.org)** es una librería enfocada al análisis y manipulación de datos tabulares.<br>

Este paquete junto con [numpy](https://numpy.org), [matplotlib](https://matplotlib.org), [xgboost](https://xgboost.readthedocs.io/en/stable/) y [scikit-learn](https://scikit-learn.org/stable/index.html) constituyen las principales librerías de Machine Learning Tabular en Python.

**Dado que la mayoría de los problemas a los que se enfrentan las empresas en la vida real son problemas y datasets tabulares, aprendiendo estas 5 librerías, obtenemos una base sólida para empezar a trabajar en el mundo de Machine Learning.**

Al final del notebook, el alumno se tiene que sentir cómodo con los siguientes funcionalidades:

1. Saber como podemos "cargar" un fichero que tenemos en nuestro ordenador a pandas para poder empezar a manipularlo.
1. Entender los objetos básicos que tenemos cuando usamos pandas: **DataFrame** y **Series**.
1. Dar a conocer los métodos más simples de un pandas DataFrame: **head**, **tail**, **describe**, **info** etc.
1. Entender en que consiste el **pandas groupby** y como podemos utilizarlo para hacer cálculo de manera **rápida, limpia y eficiente.**
1. Conocer que es la **pivot_table** de pandas.
1. Ver como podemos hacer algunas visualizaciones básicas con pandas.
1. Hacer una breve intro a **matplotlib** para gráficos más avanzados.
---

# Let's go!

---

<a id='index'></a>
## Índice

[Imports del notebook](#imports_notebook)<br>

## Dataset
[Dataset que vamos a utilizar: animes](#animes)<br>


## Intro to pandas
[Cargar datos a pandas](#datos)<br>
[Métodos básicos de pandas](#intro_pandas)<br>
[Mas métodos de pandas](#pandas2)<br>

## Conclusión
[Conclusión](#conclusion)<br>

## Referencias
[Referencias y lecturas recomendables](#referencias)<br>

<a id='imports_notebook'></a>
# Imports del notebook
[Volver al índice](#index)

En este apartado hacemos los principales imports del notebook.<br>
Sobre todo vamos a trabajar con **pandas**.

In [1]:
import pandas as pd

In [2]:
print("Working with these versions of libraries\n")
print("-"*50)
print(f"Pandas version {pd.__version__}")

Working with these versions of libraries

--------------------------------------------------
Pandas version 2.2.1

<a id='animes'></a>
# Dataset que vamos a utilizar: animes
[Volver al índice](#index)

Todo proyecto de Machine Learning requiere de datos. Los datos son la parte **FUNDAMENTAL** y si la calidad de los datos es **<ins>mala</ins>**, muchas veces los resultados que vamos a obtener van a ser **<ins>malos</ins>**.

Gran parte de un proyecto de ML consiste en <ins>limpiar, analizar y preparar los datos</ins> para **"alimentar"** al algoritmo. Muy a menudo, todo esto se realiza con **pandas**.

Dado que nuestro objetivo final es crear un recomendador basado en el historial de los clientes (lo haremos en el notebook [CBRS.ipynb](./CBRS.ipynb)), en este notebook vamos a hacer la limpieza y el análisis de los datos y por el camino vamos a aprender **pandas**.

**¿Que dataset vamos a utilizar en nuestro proyecto?**

Vamos a utilizar un dataset muy famoso de [Animes Japoneses](https://es.wikipedia.org/wiki/Anime) que se puede descargar de manera gratuita del [siguiente enlace](https://www.kaggle.com/datasets/CooperUnion/anime-recommendations-database/data).

# Intro to pandas

<a id='datos'></a>
# Cargar datos a pandas
[Volver al índice](#index)

Normalmente los datos con los que trabajamos en la vida real están en diferentes bases de datos y utilizamos el lenguaje de programación [SQL](https://es.wikipedia.org/wiki/SQL) para descargarlos o manipularlos.

En este workshop, para simplificar algo las cosas, vamos a trabajar con ficheros que están en el disco duro de nuestro ordenador para "leerlos" con pandas.

In [3]:
# hacer el import de pandas
import pandas as pd

In [4]:
# donde están mis datos
! pwd

/Users/nicolaepopescul/code/nuclio_charlas

In [5]:
# que tengo en esta ruta
! ls

CBRS.ipynb   INTRO.ipynb  PANDAS.ipynb README.md    input        pictures

In [6]:
# que tengo en la carpeta de input
! ls /Users/nicolaepopescul/code/nuclio_charlas/input

cf_anime.csv           cf_anime.pkl           cf_rating.parquet.gzip
cf_anime.parquet.gzip  cf_anime.xlsx

In [7]:
# leemos un fichero en un pandas DataFrame
# ./ indica: utiliza la ruta relativa (allí donde está el notebook) para ir a la carpeta de input
# y leer el fichero cf_anime.parquet.gzip
df = pd.read_parquet("./input/cf_anime.parquet.gzip")

In [8]:
df = df.set_index("anime_id")

In [9]:
# mostar los otros formas para leer ficheros:
# csv
# pickle
# excel
# parquet
# otros

In [10]:
df

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...
9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
5543,Under World,Hentai,OVA,1,4.28,183
5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

Acabamos de cargar nuestro fichero en un pandas **DataFrame.**

El **DataFrame** es el objeto central en pandas y representa una tabla/matriz que tiene 2 ejes (o axis).

<img src="./Pictures/DATAFRAME.png">

[Fuente: www.geeksforgeeks.org](https://www.geeksforgeeks.org/creating-a-pandas-dataframe/)

Un eje son las **filas del DataFrame** y básicamente vienen a representar los **registros** que tenemos en la tabla. A menudo, cuando trabajamos en problemas de ML Supervisados, también los llamamos **"instancias"**.

El otro eje que tenemos son **las columnas del DataFrame**. Las columnas a menudo se conocen como las **"features"** o **"atributos"** y vienen a captar diferentes variables/información sobre nuestras instancias.

**Por ejemplo: si 1 fila es un cliente, las columnas son las variables que tenemos de este cliente y podrían ser la edad, el salario, el móvil que usa etc.**

<a id='intro_pandas'></a>
# Métodos básicos de pandas
[Volver al índice](#index)

**Nota:** a menudo a lo largo del workshop voy a utilizar la palabra **método** cuando hable de pandas o bien de un **DataFrame/Series**. Por ejemplo: **el DataFrame tiene el método de sum**.

Lo que esto quiere decir es que cuando tengo una DataFrame, con el DataFrame viene una **FUNCIONALIDAD** incorporada, en este caso, la suma. Por lo tanto, si tengo un DataFrame que tiene una columna númerica, podré calcular la suma de esta columna usando esta funcionalidad incorporada. Dicho de otro modo, el DataFrame sabe hacerlo (porque algún desarrollador había escrito el código) si yo se lo pido.

---

Con el método de `df.shape` podemos llegar a saber el número de filas y de columnas que tiene nuestro dataset.

In [12]:
df.shape

(12294, 6)

**Tip:** para recordar que las filas son el axis 0 y las columnas el axis 1, podemos recordar que `df.shape` 0 nos da las filas y `df.shape` 1 nos da las columnas.

**Nota:** en la mayoría de los lenguajes de programación, el índice empieza por el 0. Esto quiere decir que el primer elemento tiene el índice de 0, el segundo elemento tiene el índice de 1 etc.

Cuando hacemos nuestro primer contacto con un dataset, a menudo nos interesa ver los primeros 5 registros o los últimos 5 registros de una tabla.

Los métodos de `df.head()` o `df.tail()` sirven justo para este propósito.

In [13]:
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [14]:
# el valor por defecto de los métodos head y tail es 5, es decir muestra 5 filas
# por este motivo no lo hemos especificado antes en el head
df.tail(5)

,name,genre,type,episodes,rating,members
anime_id,,,,,,
9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
5543,Under World,Hentai,OVA,1,4.28,183
5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

Muy a menudo queremos sacar una pequeña muestra de clientes de nuestra tabla para analizarla rápidamente.

El método `df.sample(nr_registros)` nos permite hacer una muestra aleatoria sin reemplazo.

Con la siguiente línea de código vamos a seleccionar al azar 15 registros de nuestro dataset.

In [15]:
df.sample(15)

,name,genre,type,episodes,rating,members
anime_id,,,,,,
1385,Kurohime: Shikkoku no Yakata,Hentai,OVA,2,6.05,2377
6460,Crayon Shin-chan Movie 05: Ankoku Tamatama Dai...,"Comedy, Ecchi, Kids, School, Shounen, Slice of...",Movie,1,7.29,1640
3962,Chocolate Underground,"Comedy, Kids",ONA,13,6.28,9351
34456,Sentai Hero Sukiyaki Force,Comedy,TV,Unknown,NaN,43
11853,Pokemon: Pikachu no Summer Bridge Story,"Adventure, Comedy, Fantasy, Kids",Special,1,6.57,2535
11268,Ganso Tensai Bakabon,"Comedy, Slice of Life",TV,103,6.75,288
22399,Saru Kani Gassen,Kids,OVA,1,5.23,62
11711,Me wo Samase Toragorou,Kids,Special,1,5.67,69
316,Nageki no Kenkou Yuuryouji,"Comedy, Hentai, Yuri",OVA,3,6.40,2594
29349,Doron Coron,"Kids, Slice of Life",Movie,1,4.62,46
17209,Suzy&#039;s Zoo: Daisuki! Witzy - Happy Birthday,Kids,Special,1,6.17,158
29825,Onnanoko tte.,"Comedy, Shoujo, Slice of Life",Special,4,5.78,171
29904,Yellow,Psychological,Movie,1,5.30,144
4149,Body Jack: Tanoshii Yutai Ridatsu,"Comedy, Ecchi, Yuri",OVA,1,5.51,1073
17291,Jinzou Konchuu Kabutoborg VxV,"Action, Comedy, Fantasy, Game, Shounen",TV,52,6.94,188

Vemos que nuestro dataset está formado por 6 columnas.

Cuando usamos pandas, decimos que 1 columna es un **pandas Series**. 

Por tanto, nuestro **DataFrame** es básicamente una colección de 6 pandas **Series**.

Si queremos seleccionar 1 única columna de nuestro **DataFrame** lo podemos hacer con el siguiente código.

In [16]:
series = df["rating"]

Las **Series** a menudo tienen los mismos métodos que un **DataFrame**: `head`, `tail`etc.

In [17]:
series.head()

anime_id
32281    9.37
5114     9.26
28977    9.25
9253     9.17
9969     9.16
Name: rating, dtype: float64

En el ejemplo de antes, hemos utilizado el nombre de la columna entre **corchetes** para seleccionar 1 columna.

Existen otras formas de hacer lo mismo.

Por ejemplo, si el nombre **<u>no contiene ningún espacio</u>**, podemos escribir `df.nombre_columna` para obtener este **Series**.

In [18]:
df.rating

anime_id
32281    9.37
5114     9.26
28977    9.25
9253     9.17
9969     9.16
         ...
9316     4.15
5543     4.28
5621     4.88
6133     4.98
26081    5.46
Name: rating, Length: 12294, dtype: float64

Por último, es muy común utilizar el método `loc` o `iloc` para seleccionar columnas o filas o una combinación de ambas.

Con `loc` podemos acceder a diferentes filas usando el nombre de la fila o columna.

In [19]:
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [23]:
# en este ejemplo, 32281 es el anime_id que tenemos en la primera fila (índice 0).
# si fuese un text en vez de número deberíamos escribir el nombre con comillas simples '' o comillas dobles "".
df.loc[32281]

name                              Kimi no Na wa.
genre       Drama, Romance, School, Supernatural
type                                       Movie
episodes                                       1
rating                                      9.37
members                                   200630
Name: 32281, dtype: object

Con el loc puedo seleccionar diferentes filas y columnas especificando más parámetros en el loc.

In [24]:
df.loc[32281, "genre"]

'Drama, Romance, School, Supernatural'

Si quiero seleccionar "genre" y también la columna de "type" lo puedo hacer poniendo "genre" y "type" dentro de una lista de python: `["genre", "type"]` es decir, usamos otra vez corchetes.

In [25]:
df.loc[32281, ["genre", "type"]]

genre    Drama, Romance, School, Supernatural
type                                    Movie
Name: 32281, dtype: object

Mientras que `loc` permite acceder a las diferentes filas y columnas por el nombre, `iloc` lo hace por el índice.

In [26]:
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [27]:
# el resultado es el mismo que usando df.loc[32281]
df.iloc[0]

name                              Kimi no Na wa.
genre       Drama, Romance, School, Supernatural
type                                       Movie
episodes                                       1
rating                                      9.37
members                                   200630
Name: 32281, dtype: object

In [28]:
# el resultado es el mismo que usando df.loc[32281, "genre"]
df.iloc[0, 1]

'Drama, Romance, School, Supernatural'

In [29]:
# el resultado es el mismo que usando df.loc[32281, ["genre", "type"]]
df.iloc[0, [1, 2]]

genre    Drama, Romance, School, Supernatural
type                                    Movie
Name: 32281, dtype: object

Los métodos de antes, `loc` y `iloc` permite filtrar también varias filas como se muestra a continuación.

In [30]:
df.loc[[32281, 28977], ["name", "episodes"]]

                    name episodes
anime_id
32281     Kimi no Na wa.        1
28977           Gintama°       51

Para conseguir lo mismo con `iloc` podemos hacerlo de la siguiente manera:

In [31]:
df.iloc[[0, 2], [0, 3]]

                    name episodes
anime_id
32281     Kimi no Na wa.        1
28977           Gintama°       51

### ¿Sabrían explicar el código de antes?

<a id='pandas2'></a>
# Mas métodos de pandas
[Volver al índice](#index)

Hasta ahora hemos visto los métodos más simples que hay de pandas **DataFrames**.

Veamos ahora otros métodos muy utilizados y que nos permiten tener una idea sobre nuestros datos de manera muy rápida.

`df.info()` nos muestra un resumen sobre todas nuestras columnas.

Vemos de golpe el nombre de la columna, la cantidad de no nulos que hay en cada columna y el tipo de columna que es (númerica: `int` o `float`, categórica: `category` o bien objetos python o texto: `object`).

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12294 entries, 32281 to 26081
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      12294 non-null  object
 1   genre     12232 non-null  object
 2   type      12269 non-null  object
 3   episodes  12294 non-null  object
 4   rating    12064 non-null  float64
 5   members   12294 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 930.4+ KB

Con el método de `df.describe()` podemos ver rápidamente algunos estadísticos rápidos de nuestras columnas númericas.

In [33]:
pd.options.display.float_format = '{:.2f}'.format

In [34]:
df.describe()

        rating    members
count 12064.00   12294.00
mean      6.47   18071.34
std       1.03   54820.68
min       1.67       5.00
25%       5.88     225.00
50%       6.57    1550.00
75%       7.18    9437.00
max      10.00 1013917.00

Otro método muy común que usamos a menudo es `df.isnull()` para calcular el número de nulos que tenemos en cada columna.

Si observamods con detenimieto vemos que los valores de antes (los números y el texto) han desaparecido y ahora únicamente tenemos True y False.

Decimos que en este caso, hemos "evaluado" si cada valor es un nulo o no

1. Cuando es un nulo -> True
1. Cuando no es un nulo -> False

**Además, en este ejemplo, vemos que podemos "concatenar" o utilizar un método detrás de otro en cadena.**

In [36]:
df.head().isnull()

           name  genre   type  episodes  rating  members
anime_id
32281     False  False  False     False   False    False
5114      False  False  False     False   False    False
28977     False  False  False     False   False    False
9253      False  False  False     False   False    False
9969      False  False  False     False   False    False

Quitamos el método de `.head()` y añadimos el método de `.sum()` con esto podemos saber el número de nulos que tenemos en cada columna.

In [37]:
df.isnull().sum()

name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

En el ejemplo de antes, hemos introducido otro concepto muy importante cuando trabajamos con pandas **DataFrame**: **los boolean masks**.

Cuando hemos **evaluado** si un valor determinado cumple o no una condición (si es nulo o no), obtenemos o bien un True o bien un False. A este conjunto de datos que son True o False lo llamamos **máscara booleana** y podemos usarla para filtar nuestro **DataFrame**.

In [38]:
# evaluamos si los valores que tenemos es TV o no
df["type"] == "TV"

anime_id
32281    False
5114      True
28977     True
9253      True
9969      True
         ...
9316     False
5543     False
5621     False
6133     False
26081    False
Name: type, Length: 12294, dtype: bool

In [39]:
boolean_mask = df["type"] == "TV"

Si despúes ponemos nuestra máscara dentro de un corchete de pandas, podemos filtrar nuestro **DataFrame**.

En este caso en concreto, obtenemos/filtramos únicamente los animes que son del `type TV`.

In [40]:
tvs = df[boolean_mask]

In [41]:
tvs

,name,genre,type,episodes,rating,members
anime_id,,,,,,
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
...,...,...,...,...,...,...
34522,"Wake Up, Girls! Shin Shou","Drama, Music",TV,Unknown,NaN,381
34467,Yami Shibai 4th Season,"Dementia, Horror, Supernatural",TV,Unknown,NaN,1838
32615,Youjo Senki,"Magic, Military",TV,Unknown,NaN,6652
34284,Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,2593
34445,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,4439

### Conclusión
<a id='conclusion'></a>
[Volver al índice](#index)<br>

### Referencias y lecturas recomendables
<a id='referencias'></a>
[Volver al índice](#index)<br>

A continuación dejamos algunos links útiles para profundizar en algunos de los conceptos que hemos visto en el notebook:

[Sitio oficial de pandas](https://pandas.pydata.org/)